<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title> new document </title>
    <!--<link rel="stylesheet" href="../css/bootstrap.css"/>-->
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
    <div ng-controller="AppController">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">输入</label>
                <div class="col-lg-4">
                    <input type="text" ng-model="inputValue" class="form-control"/><br/>
                </div>
            </div>
            <div ng-repeat="image in images">
                * <img class="pic" fallback-src="http://google.com/favicon.ico" ng-src="{{image}}"/>
            </div>
            <div class="form-group">{{inputValue}}</div>
            <div class="form-group">{{oldInputValue}}</div>
        </form>
    </div>
    <div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        <input size="16" type="text" value="12-02-2012" readonly>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
</div>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/underscore.js"></script>
<script type="text/javascript" src="../lib/angular.js"></script>
<script type="text/javascript" src="../src/helloworld.js"></script>
<script type="text/javascript">
    (function (window, undefined) {
        var treeNodes = [
            {
                id: 1,
                name: '1',
                children: [
                    {
                        id: 11,
                        name: '11',
                        children: [
                            {
                                id: 111,
                                name: '111',
                                children:[]
                            },
                            {
                                id: 112,
                                name: '112'
                            }
                        ]
                    },
                    {
                        id: 12,
                        name: '12',
                        children: []
                    }
                ],
                users: []
            },
            {
                id: 2,
                name: '2',
                children: [
                    {
                        id: 22,
                        name: '22',
                        children: []
                    }
                ]
            }
        ];

        //递归实现
        var parseTreeJson = function(treeNodes){
            if (!treeNodes || !treeNodes.length) return;

            for (var i = 0, len = treeNodes.length; i < len; i++) {

                var childs = treeNodes[i].children;

                console.log(treeNodes[i].id);

                if(childs && childs.length > 0){
                    parseTreeJson(childs);
                }
            }
        };

        console.log('------------- 递归实现 ------------------');
        parseTreeJson(treeNodes);

        //非递归广度优先实现
        var iterator1 = function (treeNodes) {
            if (!treeNodes || !treeNodes.length) return;

            var stack = [];

            //先将第一层节点放入栈
            for (var i = 0, len = treeNodes.length; i < len; i++) {
                stack.push(treeNodes[i]);
            }

            var item;

            while (stack.length) {
                item = stack.shift();

                console.log(item.id);

                //如果该节点有子节点，继续添加进入栈底
                if (item.children && item.children.length) {
                    //len = item.children.length;

                    // for (i = 0; i < len; i++) {
                    //  stack.push(item.children[i]);
                    // }

                    stack = stack.concat(item.children);
                }
            }
        };

        console.log('------------- 非递归广度优先实现 ------------------');
        iterator1(treeNodes);

        //非递归深度优先实现
        var iterator2 = function (treeNodes) {
            if (!treeNodes || !treeNodes.length) return;

            var stack = [];

            //先将第一层节点放入栈
            for (var i = 0, len = treeNodes.length; i < len; i++) {
                stack.push(treeNodes[i]);
            }

            var item;

            while (stack.length) {
                item = stack.shift();

                console.log(item.id);

                //如果该节点有子节点，继续添加进入栈顶
                if (item.children && item.children.length) {
                    // len = item.children.length;

                    // for (; len; len--) {
                    //  stack.unshift(item.children[len - 1]);
                    // }
                    stack = item.children.concat(stack);
                }
            }
        };

        console.log('------------- 非递归深度优先实现 ------------------');
        iterator2(treeNodes);
    })(window);

</script>
</body>
</html>
