<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title> new document </title>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
    <div ng-controller="AppController">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">输入</label>
                <div class="col-lg-4">
                    <input type="text" ng-model="inputValue" class="form-control"/><br/>
                </div>
            </div>
            <div ng-repeat="image in images">
                * <img class="pic" fallback-src="http://google.com/favicon.ico" ng-src="{{image}}"/>
            </div>
            <div class="form-group">{{inputValue}}</div>
            <div class="form-group">{{oldInputValue}}</div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/underscore.js"></script>
<script type="text/javascript" src="../lib/angular.js"></script>
<script type="text/javascript" src="../src/helloworld.js"></script>
<script type="text/javascript">

    var SocketCreated,ws;
    ToggleConnectionClicked();
    function ToggleConnectionClicked() {
        if (SocketCreated && (ws.readyState == 0 || ws.readyState == 1)) {
            ws.close();
        } else {
            //Log("准备连接到聊天服务器 ...");
            try {
                ws = new WebSocket("ws://192.168.1.105:50000/websocket");
                SocketCreated = true;
            } catch (ex) {
                //Log(ex, "ERROR");
                return;
            }
            //document.getElementById("ToggleConnection").innerHTML = "断开";
            ws.onopen = WSonOpen;
            ws.onmessage = WSonMessage;
            ws.onclose = WSonClose;
        }
    };

    function WSonOpen() {
        console.log("连接已经建立。", "OK");
    };

    function WSonMessage(event) {
        console.log(JSON.parse(event.data));
        /*$scope.messages.push({
         id: '3',
         imageSrc: 'img/a2.jpg',
         timeByNow: '30分钟前',
         doctorName: '王立文',
         occupation: '划价记账处',
         detailMsg: '患者曹丽华是否需要补交一次治疗费用？',
         lastTime: '2016-09-13 13:24'
         });*/
    };

    function WSonClose() {
        //Log("连接关闭。", "ERROR");
        console.log('连接已经关闭')
    };
</script>
</body>
</html>
