<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> new document </title>
    <link rel="stylesheet" href="css/main.css"/>
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
    <h1>Socket.io - Simple chat room</h1>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input"/>
    </div>
    <div id="content"></div>
</div>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascript/chat.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
